<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".py" />
          <add fileExtension=".py" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".py" />
      <mimeMap fileExtension=".py" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
</configuration>
